.accountHeader {
    padding-top: 40px;
}

.accountInformation {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.accountData {
    background-color: #F0F0F0; 
    padding: 10px;
    width: 400px;
    height: 100px;
}

.accountManipulatebuttonsContainer {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.accountManipulatebuttons {
    background-color: #F0F0F0; 
    margin: 0 30px;
    padding: 10px;
    width: 80px;
    height: 20px;
}

.accountManipulatebuttons:hover {
    background-color: #ccc;
    cursor: pointer;
}

.userProducts {
    margin-top: 30px;
    margin-bottom: 40px;
}

.productsHeader {
    font-size: 24px;
    color: #333;
    margin-top: 50px;
    text-align: center;
}
  
.userGreeting {
    color: #007bff;
    font-weight: bold;
    text-transform: capitalize;
}

.product {
    margin-bottom: 20px;
}

.imageContainer {
    display: flex;
    align-items: center;
    width: 200px;
    height: 120px;
    margin: 0 auto;
    margin-right: 40px;
    margin-top: 8px;
}

.picture {
    margin: 0 auto;
}

@media (max-width: 650px) {
    .accountData {
        width: 80%;
        height: 80px;
        padding-top: 0px;
        padding-bottom: 15px;
    }

    .accountData h3 {
        font-size: 18px;
    }

    .accountManipulatebuttonsContainer {
        display: block;
        padding: 40px;
        align-items: center;
        text-align: center;
    }

    .accountManipulatebuttons {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 80%;
        padding: 10px;
        white-space: nowrap;
    }

    .productsHeader {
        margin-top: 10px;
    }

    .imageContainer {
        margin: 0 auto;
        text-align: center;
    }
}
