.form {
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
    background-color: #F0F0F0;
    text-align: center;
    width: 400px;
}

.formContent {
    margin: 0 auto;
    width: 200px;
}

.formTitle {
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.input {
    width: 190px;
    height: 20px;
    border-radius: 10px;
    padding: 5px;
}

.inputDetail {
    width: 190px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
}

.emptyErrorMessage {
    font-size: 13px;
    color: red;
    white-space: nowrap;
}

.submit {
    margin-top: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #0056b3;
}

.formOtherTitle {
    margin-top: 20px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
}

.inputType {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
}

.serverErrorTopMessage {
    font-size: 13px;
    color: red;
    white-space: nowrap;
    margin-bottom: 20px;
}

.serverErrorMessage {
    font-size: 13px;
    color: red;
    white-space: nowrap;
}
