.main {
    text-align:center;
}

.purchaseButton {
    background-color: #0074d9;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.purchaseButton:hover {
    background-color: #0056b3;
}

.productsFilterButtons {
    background-color: #F0F0F0;
    margin: 0 auto;
    width: 500px;
    padding: 10px 20px;
    border-radius: 4px;
}

.productsFilterButtons button {
    background-color: #5dabff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
}

.productsFilterButtons button:hover {
    background-color: #2890ff;
}

.products {
    margin-top: 50px;
    margin-bottom: 40px;
}

.product {
    margin: 0 auto;
    background-color: #F0F0F0;
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    text-decoration: underline;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
}

.title:hover {
    background-color: #ffffff;
    cursor: pointer;
    width: auto;
    max-width: 300px;
}

.information {
    text-align: left;
    margin-left: 40px;
}

.imageContainer {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.favoriteButton {
    margin-top: 5px;
    margin-right: 450px;
    margin-bottom: 20px;
}

.favoriteButton button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
    font-size: 16px;
}

.favoriteButton button:hover {
    background-color: #2373a1;
}

.favoriteButton button.favorited {
    background-color: #e74c3c;
}

.favoriteButton button.favorited:hover {
    background-color: #c0392b;
}

.ownProductMessage {
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #F0F0F0;
    border-radius: 5px;
    width: 600px;
    height: 26px;
    font-size: 16px;
    font-weight: bold;
}

.productsNotFound {
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 400px;
    padding: 20px;
    background-color: #f7f7f7;
    color: #333;
    font-size: 18px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 600px;
}
