.productDetail {
    display: block;
    text-align:center;
}

.productContainer {
    padding-top: 1px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #F0F0F0;
    width: 600px;
    height: 600px;
}

.information {
    background-color: #e7e7e7;
    margin: 0 auto;
    width: 500px;
}

.breakWords {
    word-wrap: break-word;
    max-width: 40ch;
    margin: 0 auto;
    text-align: center;
}

.imageContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.postDelate {
    margin: 0 auto;
    margin-top: 20px;
    background-color: #F0F0F0; 
    padding: 10px;
    width: 140px;
    height: 20px;
}

.postDelate:hover {
    background-color: #ccc;
    cursor: pointer;
}

.form {
    background-color: rgb(255, 236, 205);
    border-radius: 10px; 
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    padding-bottom: 10px;
}

.form h2 {
    border-bottom: 3px solid #8f8f8f;
    padding-top: 10px;
}

.commentsArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doComments {
    font-weight: bold;
}

.commentsInput {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 70%;
}

.customButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
  
.customButton:hover {
    background-color: #0056b3;
}

.productComments {
    background-color: #F0F0F0;
    border-radius: 10px;
    margin: 0 auto;
    width: 600px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.commentInformation {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: right;
}

.user {
    font-weight: bold;
    font-size: 13px;
}

.comment {
    background-color: #c9c9c9;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
}

.commentText {
    text-align: center;
    white-space: pre-line;
    word-wrap: break-word;
}

.createdAt {
    font-size: 13px;
}

.productOwnerComment {
    text-align: left;
}

.commentOwner {
    background-color: #c9c9c9;
    border-radius: 10px;
    width: 300px;
    margin-right: auto;
}
