.main {
    text-align:center;
}

.products {
    padding-top: 20px;
    margin-bottom: 20px;
}

.product {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #F0F0F0;
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    text-decoration: underline;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
}

.title:hover {
    background-color: #ffffff;
    cursor: pointer;
    width: auto;
    max-width: 300px;
}

.information {
    text-align: left;
    margin-left: 40px;
}

.imageContainer {
    display: flex;
    align-items: center;
    margin-right: 50px;
}
